
   

    
        <div class="container">
            <div class="row">
              <div class="col">
                <h1 style="color:DodgerBlue; font-size:300%;">1 of 2</h1> 
              </div>
              <div class="col">
                <h1 style="color:Tomato; font-size:300%;"><em>2 of 2</em></h1>
              
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h1 style="font-size:300%;">1 of 3</h1>
              </div>
              <div class="col">
                <h1 style="font-family:courier;">2 of 3</h1>  
              </div>
              <div class="col">
                <h1 style= "font-size:300%;"><i>3 of 3</i></h1>
              </div>
            </div>
          </div>
    
